.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  // transform: rotate(-1deg);

  .gridList {
    width: 520px;
    min-width: 520px;
    height: 500px;

    .gridTile {
      width: 100px;
    }
  }
}
.button-wrapper {
  display: inline-block;
}
